fastapi
uvicorn[standard]
pymupdf
langchain
langchain-community
langchain-openai
openai
faiss-cpu
python-dotenv
tiktoken
langchain-text-splitters
langgraph
facebook-scraper
beautifulsoup4
lxml
lxml_html_clean